@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(43, 42, 42);
  font-size: 10px;
  font-family: "Comic Sans MS", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.section-title span {
  color: rgb(25, 0, 255);
}

.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}

.brand h1 span {
  color: rgb(20, 23, 220);
}

/* sign in section*/
.sign-in .sign-in-text {
  display: flex;
  align-items: left;
  justify-content: left;
  display: grid;
  text-align: left;
  margin-top: 20px;
  margin-right: 20px;

}

.sign-in .sign-in-text h1 {
  letter-spacing: 3px;
  font-size: 350%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family: "Comic Sans MS", sans-serif;

}

.sign-in .sign-in-text p {
  line-height: 1.2;
  letter-spacing: 1px;
  font-size: 300%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;
  color: white;

}

#sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;


}

#sign-in .sign-in {
  background-image: url(/NewMenu/images/signin-up-backgroundImg.jpg);
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-position: top;


}

#sign-in .box {

  margin-top: 50px;
  background-color: #E9E00A;
  padding: 4rem;
  font-size: 130%;
  border-radius: 10px;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#sign-in .box .head {
  padding: 4rem;
  width: 100%;
  height: 120px;
  background-color: #5A84D9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

#sign-in .box .head h1 {

  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;

}

#sign-in .box h2 {
  margin-right: 10rem;
}

#sign-in .box input[type=button] {
  background-color: #5A84D9;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}


.box input {
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.box.active input {
  border-radius: 5px 5px 0 0;
}

/* sign in section*/