<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/temp.css" />
    <link rel="stylesheet" href="/sign-in/sign-in.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sign-in</title>
</head>
<body>
   
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
            <h1><span>SmartRest</span></h1>
          
        </div>
        <div class="nav-list">
            <h2><a href="#home" data-after="Home" onClick="location.href='/menu/menu.html'">Home</a></h2>
            <h2><a href="#menu" data-after="Menu" onClick="location.href='/menu/menu.html'">Our dishes</a></h2>
            <h2><a href="#sign-up" data-after="sign-up" onClick="location.href='/sign-up/sign-up.html'">Rate us</a></h2>
            <h2><a href="#sign-in" data-after="sign-in" onClick="location.href='/sign-in/sign-in.html'">Contact Us</a></h2>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->
  <!-- <ul>
    <% if (typeof errors !='undefined'){ %>
      <% errors.forEach(error)=>{ %>
        <li><% errors.messege %></li>
         <% } %>
      
       <% } %> 
  </ul> -->
  <form action="/sign-in" method="POST">
  <section id="sign-in">
  <div class="sign-in container">
    <div class="sign-in-text">
      <h1>welcome to our website, </h1>
      <p> please sign-up so we can have your feed back</p>
    </div>
   <div class="box">
      <div class="head">
       <h1>SIGN IN</h1>
      </div>
    <h2>please enter email: </h2><br/>
    <input placeholder="type email..." type="text" id ="email" name="email" required>
    <h2>please enter password: </h2><br/>
    <input type="password" placeholder="type password..." id ="password" name="password" required><br/><br/>
    <input type="submit" value="Sign in"></br></br>
    <h2>not registered?sign up here.</h2>
    <a href="/sign-up"><input type="button" value="Sign Up"></a>
    
    <!-- <input id="sign-inButton" type="button" value="home" onClick="location.href='/menu/menu.html'"> -->
   </div>
  </div>
  </section>
</form>
</body>
</html>